body{
    padding-top: 10%;
    justify-items: center;
    background-color: gray;
}

.conteiner{
    border: 3px solid aquamarine;
    border-radius: 1rem;
    padding-top: 1rem;
    height: 60vh;
    justify-self: center;
    text-align: center;
    width: 20vw;
    background-color:bisque ;
}

.conteiner p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    font-size: 1.2rem;
    position: relative;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

.opciones{
    padding-top: 15%;
}

.Registrar_gastos{
    height: 5vh;
    border-radius: 20rem;
    width: 15vw;
    justify-self: center;
    background-color: white;
}

.Listar_gastos{
    border-radius: 10rem;
    margin-top: 10%;
    justify-self: center;
    height: 5vh;
    width: 15vw;
    background-color: white;
}

.Calcular_gastos{
    border-radius: 10rem;
    margin-top: 10%;
    justify-self: center;
    height: 5vh;
    width: 15vw;
    background-color: white;
}

.Generar_gastos{
    border-radius: 10rem;
    margin-top: 10%;
    justify-self: center;
    height: 5vh;
    width: 15vw;
    background-color: white;
}

.Salir{
    border-radius: 10rem;
    margin-top: 10%;
    justify-self: center;
    height: 5vh;
    width: 15vw;
    background-color: white;
}
