body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

input{
    padding: 10px;
    width: 250px;
    font-size: 16px;
    margin-left: 10px;
}

button{
    padding: 13px 15px;
    font-size: 15px;
    border-style: none;
    border-radius: 10px;
}

button:hover{
    background-color: aqua;
}

.resultado{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}